@page
@model MarketAnalytics.Pages.BuySell.BullishEngulfing

@{
    ViewData["Title"] = "BullishEngulfingBuySell";
}

<h4>Bullish Engulfing Strategy</h4>

<table class="table">
    <thead>
        <tr>
            <th>

                <form asp-page="./BullishEngulfing" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <select name="searchString" asp-items="Model.currentSymbolList" style="font-size:small">
                                <option value="">Select Symbol</option>
                            </select>

                            <input type="submit" value="Search from current list" class="btn btn-sm btn-primary" style="font-size:small" />
                        </p>
                    </div>
                </form>
            </th>
            <th>
                <form asp-page="./BullishEngulfing" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <label style="font-size:smaller; font-style:normal;">SMA :</label>
                            <input style="font-size:small;" type="text" size="1" maxlength="2" asp-for="@Model.SMAValue" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" />
                            <label style="font-size:smaller; font-style:normal;">Trend Span :</label>
                            <input style="font-size:small;" type="text" size="1" maxlength="2" asp-for="@Model.TrendSpan" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" />
                            <label style="font-size:small">Days to look behind :</label>
                            <input style="font-size:small;" type="text" size="1" maxlength="3" asp-for="@Model.DaysBehind" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" />

                            <select name="symbolToUpdate" asp-items="Model.symbolList" style="font-size:small">
                                <option value="">Select Symbol</option>
                            </select>

                            <input type="submit" value="Find Bullish Engulfing Trend" class="btn btn-sm btn-primary" style="font-size:small" />
                        </p>
                    </div>
                </form>
            </th>
            @*<th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="./BullishEngulfing" asp-route-refreshAll="true" class="btn btn-sm btn-primary" style="font-size:small">Refresh Buy/Sell for All</a>
                    </p>
                </div>
            </th>*@
            <th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="./BullishEngulfing" style="font-size:small">Back to full List</a>
                    </p>
                </div>
            </th>
        </tr>
    </thead>
</table>
<table class="table">
    <thead>
        <tr style="text-align:center; font-size:small;">
            <th>
                <a asp-page="./BullishEngulfing" asp-route-sortOrder="@Model.SymbolSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.BULLISH_ENGULFING_STRATEGYies[0].StockMaster.Symbol)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BULLISH_ENGULFING_STRATEGYies[0].StockMaster.QuoteDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BULLISH_ENGULFING_STRATEGYies[0].StockMaster.Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BULLISH_ENGULFING_STRATEGYies[0].StockMaster.PrevClose)
            </th>
            <th>
                <a asp-page="./BullishEngulfing" asp-route-sortOrder="@Model.FromDtSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.BULLISH_ENGULFING_STRATEGYies[0].BUY_CANDLE_DATE)
                </a>
            </th>
            <th>
                <a asp-page="./BullishEngulfing" asp-route-sortOrder="@Model.ToDtSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.BULLISH_ENGULFING_STRATEGYies[0].SELL_CANDLE_DATE)
                </a>
            </th>
            <th>
                <a asp-page="./BullishEngulfing" asp-route-sortOrder="@Model.BuySignalSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.BULLISH_ENGULFING_STRATEGYies[0].BUY_PRICE)
                </a>
            </th>
            <th>
                <a asp-page="./BullishEngulfing" asp-route-sortOrder="@Model.SellSignalSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.BULLISH_ENGULFING_STRATEGYies[0].SELL_PRICE)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BULLISH_ENGULFING_STRATEGYies[0].AVG_BUY_PRICE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BULLISH_ENGULFING_STRATEGYies != null)
        {
            @foreach (var item in Model.BULLISH_ENGULFING_STRATEGYies)
            {
                <tr style="text-align:center; font-size:small;">
                    <td>
                        @Html.DisplayFor(modelItem => item.StockMaster.Symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockMaster.QuoteDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockMaster.Close)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockMaster.PrevClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BUY_CANDLE_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SELL_CANDLE_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BUY_PRICE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SELL_PRICE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AVG_BUY_PRICE)
                    </td>
                    <td>
                        <a asp-page="./BullishEngulfing" asp-route-id="@item.StockMasterID" asp-route-getQuote="false" asp-route-updateBuySell="true"
                           asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@Model.BULLISH_ENGULFING_STRATEGYies.PageIndex"
                           asp-route-currentFilter="@Model.CurrentFilter">Update Buy Sell</a> |
                        <a asp-page="./BullishEngulfing" asp-route-id="@item.StockMasterID" asp-route-getQuote="true" asp-route-updateBuySell="false"
                           asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@Model.BULLISH_ENGULFING_STRATEGYies.PageIndex"
                           asp-route-currentFilter="@Model.CurrentFilter">Quote</a> |
                        <a asp-page="/History/Index" asp-route-id="@item.StockMasterID" asp-route-refreshAll=false asp-route-history=true>History</a>|
                        <a target="_blank" asp-page="/StandardIndicators/chartHistory" asp-route-stockid="@item.StockMasterID"
                           asp-route-onlyhistory=2 asp-route-history=true>Chart</a>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.BULLISH_ENGULFING_STRATEGYies != null)
{
    
        var prevDisabled = !Model.BULLISH_ENGULFING_STRATEGYies.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.BULLISH_ENGULFING_STRATEGYies.HasNextPage ? "disabled" : "";
    
    <a asp-page="./BullishEngulfing" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.BULLISH_ENGULFING_STRATEGYies.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @prevDisabled" style="font-size:small">Previous</a>
    <a asp-page="./BullishEngulfing" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.BULLISH_ENGULFING_STRATEGYies.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @nextDisabled" style="font-size:small">Next</a>
   }