@page
@model MarketAnalytics.Pages.BuySell.rsiv40Model
@{
    ViewData["Title"] = "RSIV40Trend";
}
<h4>RSI V40 Trend Identifier (Overbought If RSI is above 80 & Oversold if RSI is below 30)</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                <form asp-page="./rsiv40" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input type="text" name="SearchString" value="@Model.CurrentFilter" style="font-size:small" />
                            <input type="submit" value="Search symbol or company name" class="btn btn-sm btn-primary"
                                   style="font-size:small" />
                        </p>
                    </div>
                </form>
            </th>
            <th>
                <form asp-page="./rsiv40" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <select name="symbolToUpdate" asp-items="Model.symbolList" style="font-size:small">
                                <option value="">Select Symbol</option>
                            </select>

                            <input type="submit" value="Update Strategy" class="btn btn-sm btn-primary"
                                   style="font-size:small" />
                        </p>
                    </div>
                </form>
            </th>
            <th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="./rsiv40" asp-route-refreshAll="true" class="btn btn-sm btn-primary"
                           style="font-size:small">Refresh strategy for All</a>
                    </p>
                </div>
            </th>
            <th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="./rsiv40" style="font-size:small">Back to full List</a>
                    </p>
                </div>
            </th>
        </tr>
    </thead>
</table>
<table class="table">
    <thead>
        <tr style="text-align:center; font-size:small;">
            <th>
                <a asp-page="./rsiv40" asp-route-sortOrder="@Model.SymbolSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].Symbol)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].QuoteDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].PrevClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].RSI_CLOSE)
            </th>
            <th>
                <a asp-page="./rsiv40" asp-route-sortOrder="@Model.BuySignalSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].RSI_OVERSOLD)
                </a>
            </th>
            <th>
                <a asp-page="./rsiv40" asp-route-sortOrder="@Model.SellSignalSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].RSI_OVERBOUGHT)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StockMaster)
        {
            <tr style="text-align:center; font-size:small;">
                <td>
                    @*@Html.DisplayFor(modelItem => item.Symbol)*@
                    <form method="post" asp-page-handler="StockAction" asp-route-id="@item.StockMasterID"
                      asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@Model.StockMaster.PageIndex"
                      asp-route-currentFilter="@Model.CurrentFilter" asp-route-symbolToUpdate="@item.StockMasterID">
                        <div class="form-actions no-color">
                            <select class="menuitemselect" name="menuitemsel" asp-items="Model.menuList"
                                style="font-size:small">
                                <option selected value="-1">@Html.DisplayFor(modelItem => item.Symbol)</option>
                            </select>
                        </div>
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuoteDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Close)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrevClose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RSI_CLOSE)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.RSI_OVERSOLD,  new { @disabled = "disabled" })
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.RSI_OVERBOUGHT, new { @disabled = "disabled" })
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.StockMaster.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.StockMaster.HasNextPage ? "disabled" : "";
}
<a asp-page="./rsiv40" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockMaster.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @prevDisabled">Previous</a>
<a asp-page="./rsiv40" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockMaster.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @nextDisabled">Next</a>

@section scripts{
    <script>
        $(function () {
            $(".menuitemselect").change(function () {
                $(this).closest("form").submit();
                //$('#TheForm').submit();
            })
        })
                        //function groupselchange()
                        //{
                        //    var grouplist = document.getElementById("groupid");
                        //    var value = grouplist.value;
                        //    alert('value='+ value);
                        //    var text = grouplist.options[grouplist.selectedIndex].text;
                        //    alert('text='+text);
                        //    document.getElementById("CurrentSel").value = value;
                        //    alert(document.getElementById("CurrentSel").value);
                        //    //return value;
                        //}
    </script>
}