@page
@model MarketAnalytics.Pages.BuySell.stochv40Model
@{
    ViewData["Title"] = "STOCHV40BuySell";
}
<h4>Stochastics V40 Strategy (Buy when SlowD crosses 20 & Sell after 5% price increase)</h4>

<table class="table">
    <thead>
        <tr>
            <th style="border:solid thin">
                <form asp-page="./stochv40" method="get">
                    <div class="form-actions no-color">
                        <select id="groupid" name="groupsel" asp-items="Model.groupList" style="font-size:small"
                                onchange="groupselchange()">
                        </select>
                        <input type="submit" name="filterCategory" value="Show Category" class="btn btn-sm btn-primary" style="font-size:small" />
                        <input type="submit" name="filterCategory" value="Show & Update Category" class="btn btn-sm btn-primary" style="font-size:small" />
                        @*<a asp-page="./Index" asp-route-groupsel="@Model.CurrentSel" asp-route-updateStrategy="true" class="btn btn-sm btn-primary" style="font-size:small">Run Strategy model</a>*@
                    </div>
                </form>
            </th>

            <th style="border:solid thin;">
                <form asp-page="./stochv40" method="get">
                    <div class="form-actions no-color">
                        <input name="groupsel" value="@Model.CurrentGroup" type="hidden" />
                        <input type="text" name="SearchString" value="@Model.CurrentFilter" style="font-size:small" />
                        <input type="submit" value="Search" class="btn btn-sm btn-primary" style="font-size:small" />
                    </div>
                </form>
            </th>
            <th style="border:solid thin;">
                <form asp-page="./stochv40" method="get">
                    <div class="form-actions no-color">
                        <input name="groupsel" value="@Model.CurrentGroup" type="hidden" />
                        <select name="symbolToUpdate" asp-items="Model.symbolList" style="font-size:small">
                            <option value="">Select Symbol</option>
                        </select>
                        <input type="submit" value="Update Strategy" class="btn btn-sm btn-primary" style="font-size:small" />
                    </div>
                </form>
            </th>
            @*<th>
            <div class="form-actions no-color">
            <p>
            <a asp-page="./stochv40" asp-route-refreshAll="true" class="btn btn-sm btn-primary"
            style="font-size:small">Refresh strategy for All</a>
            </p>
            </div>
            </th>*@
            @*<th>
            <div class="form-actions no-color">
            <p>
            <a asp-page="./stochv40" class="btn btn-sm btn-primary" style="font-size:small">Back to full List</a>
            </p>
            </div>
            </th>*@
        </tr>
    </thead>
</table>
<table class="table">
    <thead>
        <tr style="text-align:center; font-size:small;">
            <th>
                <a asp-page="./stochv40" asp-route-groupsel="@Model.CurrentGroup" asp-route-sortOrder="@Model.SymbolSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].Symbol)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].QuoteDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].PrevClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].SlowD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].FastK)
            </th>
            <th>
                <a asp-page="./stochv40" asp-route-groupsel="@Model.CurrentGroup" asp-route-sortOrder="@Model.BuySignalSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].STOCH_BUY_SIGNAL)
                </a>
            </th>
            <th>
                <a asp-page="./stochv40" asp-route-groupsel="@Model.CurrentGroup" asp-route-sortOrder="@Model.SellSignalSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].STOCH_SELL_SIGNAL)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].STOCH_BUY_PRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].STOCH_SELL_PRICE)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StockMaster)
        {
            <tr style="text-align:center; font-size:small;">
                <td>
                    @*@Html.DisplayFor(modelItem => item.Symbol)*@
                    <form method="post" asp-page-handler="StockAction" asp-route-id="@item.StockMasterID"
                      asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@Model.StockMaster.PageIndex"
                      asp-route-currentFilter="@Model.CurrentFilter" asp-route-symbolToUpdate="@item.StockMasterID">
                        <div class="form-actions no-color">
                            <select class="menuitemselect" name="menuitemsel" asp-items="Model.menuList"
                                style="font-size:small">
                                <option selected value="-1">@Html.DisplayFor(modelItem => item.Symbol)</option>
                            </select>
                        </div>
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuoteDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Close)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrevClose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SlowD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FastK)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.STOCH_BUY_SIGNAL,  new { @disabled = "disabled" })
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.STOCH_SELL_SIGNAL, new { @disabled = "disabled" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STOCH_BUY_PRICE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STOCH_SELL_PRICE)
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.StockMaster.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.StockMaster.HasNextPage ? "disabled" : "";
}
<a asp-page="./stochv40" asp-route-groupsel="@Model.CurrentGroup" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockMaster.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @prevDisabled">Previous</a>
<a asp-page="./stochv40" asp-route-groupsel="@Model.CurrentGroup" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockMaster.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @nextDisabled">Next</a>

@section scripts{
    <script>
        $(function () {
            $(".menuitemselect").change(function () {
                $(this).closest("form").submit();
                //$('#TheForm').submit();
            })
        })
                                    //function groupselchange()
                                    //{
                                    //    var grouplist = document.getElementById("groupid");
                                    //    var value = grouplist.value;
                                    //    alert('value='+ value);
                                    //    var text = grouplist.options[grouplist.selectedIndex].text;
                                    //    alert('text='+text);
                                    //    document.getElementById("CurrentSel").value = value;
                                    //    alert(document.getElementById("CurrentSel").value);
                                    //    //return value;
                                    //}
    </script>
}