@page
@model MarketAnalytics.Pages.PortfolioPages.PortfolioTxnIndex

@{
    ViewData["Title"] = "PortfolioTxnIndex";
}
<h4>Portfolio - @Model.portfolioMasterName</h4>
<h7>Total Cost = @string.Format("{0:0.00}", @Model.portfolioTotalCost) | Total Value = @string.Format("{0:0.00}", @Model.portfolioTotalValue) | Total Gain = @string.Format("{0:0.00}", @Model.portfolioTotalGain) | Total Gain PCT = @string.Format("{0:0.00}%", (Model.portfolioTotalValue - Model.portfolioTotalCost)/Model.portfolioTotalValue*100)</h7>

<table class="table">
    <thead>
        <tr>
            <th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="portfolioTxnCreate" asp-route-masterid="@Model.MasterId" asp-route-pageIndex="@Model.portfolioTxn.PageIndex" class="btn btn-sm btn-primary" style="font-size:small">New Txn</a>
                    </p>
                </div>
            </th>
            <th>
                <form asp-page="./portfolioTxnIndex" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input asp-for="@Model.MasterId" type="hidden" />
                            <input type="text" name="SearchString" value="@Model.CurrentFilter" style="font-size:small" />
                            <input type="submit" value="Search txn for symbol or company" class="btn btn-sm btn-primary" style="font-size:small" />
                        </p>
                    </div>
                </form>
            </th>
            <th>
                <form asp-page="./portfolioTxnIndex" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input asp-for="@Model.MasterId" type="hidden" />
                            <input name="getQuote=false" type="hidden" />
                            <input name="updateBuySell=false" type="hidden" />
                            <input name="lifetimeHighLow=false" type="hidden" />
                            <select name="stockid" asp-items="Model.symbolList" style="font-size:small">
                                <option value="">Select Symbol</option>
                            </select>

                            <input type="submit" value="Search txns for selected symbol" class="btn btn-sm btn-primary" style="font-size:small" />
                        </p>
                    </div>
                </form>
            </th>
            <th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="./portfolioTxnIndex" asp-route-masterid="@Model.MasterId" asp-route-refreshAll="true" class="btn btn-sm btn-primary" style="font-size:small">Refresh Buy/Sell for All</a>
                    </p>
                </div>
            </th>
            <th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="./portfolioTxnIndex" asp-route-masterId="@Model.MasterId" style="font-size:small">Back to full List</a>
                    </p>
                </div>
            </th>
        </tr>
    </thead>
</table>
@*<form asp-page="./Index" method="get">
            <div class="form-actions no-color">
            <div class="form-actions no-color">
            <p>
            <input type="hidden" name="RefreshAll" value="true" />
            <input type="submit" value="Refresh All" class="btn btn-primary" />
            </p>
            </div>
            </div>
            </form>
            *@
<table class="table">
    <thead>
        <tr style="text-align:center; font-size:small;">
            <th>
                <a asp-page="./portfolioTxnIndex" asp-route-masterid="@Model.MasterId" asp-route-sortOrder="@Model.DateSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @*@Html.DisplayNameFor(model => model.portfolioTxn[0].PURCHASE_DATE)*@
                    TXN Date
                </a>
            </th>
            @*<th>
            <a asp-page="./portfolioTxnIndex" asp-route-masterid="@Model.MasterId" asp-route-sortOrder="@Model.ExchangeSort" asp-route-currentFilter="@Model.CurrentFilter">
            @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.Exchange)
            </a>
            </th>*@
            <th>
                <a asp-page="./portfolioTxnIndex" asp-route-masterid="@Model.MasterId" asp-route-sortOrder="@Model.SymbolSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.Symbol)
                </a>
            </th>
            @*<th>
            <a asp-page="./portfolioTxnIndex" asp-route-masterid="@Model.MasterId" asp-route-sortOrder="@Model.CompNameSort" asp-route-currentFilter="@Model.CurrentFilter">
            @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.CompName)
            </a>
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.portfolioTxn[0].QUANTITY)*@
                QTY
            </th>
            <th></th>
            <th>
                @*@Html.DisplayNameFor(model => model.portfolioTxn[0].COST_PER_SHARE)*@
                Cost/Share
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.portfolioTxn[0].TOTAL_COST)*@
                Cost
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portfolioTxn[0].CMP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portfolioTxn[0].VALUE)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.portfolioTxn[0].GAIN_PCT)*@
                %Gain
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.portfolioTxn[0].GAIN_AMT)*@
                Gain
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.LIFETIME_HIGH)*@
                Lifetime High
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.LIFETIME_LOW)*@
                Lifetime Low
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.LESSTHAN_67PC_ON)*@
                67% Less On
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.DIFF_FROM_LEFETIME_HIGH)*@
                Diff from Lifetime High
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.V40)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.V40N)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.V200)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.SMA_FAST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.SMA_MID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.SMA_SLOW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.SMA_BUY_SIGNAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portfolioTxn[0].stockMaster.SMA_SELL_SIGNAL)
            </th>

            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.portfolioTxn.Count > 0)
        {
            @foreach (var item in Model.portfolioTxn)
            {
                //@*<tr style="text-align:center; font-size:small;" onclick="@(Model.TransId = item.PORTFOLIOTXN_ID);alert('clicked -' + @Model.TransId);">*@

                //<tr style="text-align:center; font-size:small;" onclick="location.href = '@(Url.Action("./portfolioTxnIndex/SelectedRow"))'">
                <tr style="text-align:center; font-size:small;">
                    <td>
                        @Html.DisplayFor(modelItem => item.PURCHASE_DATE)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.stockMaster.Exchange)
            </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.Symbol)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.stockMaster.CompName)
            </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.QUANTITY)
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li>
                                <a asp-page="./portfolioTxnEdit" asp-route-masterid="@item.PORTFOLIO_MASTER_ID"
                           asp-route-txnid="@item.PORTFOLIOTXN_ID"
                           asp-route-stockid="@item.StockMasterID"
                           asp-route-sortOrder="@Model.CurrentSort"
                           asp-route-pageIndex="@Model.portfolioTxn.PageIndex"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           asp-route-refreshAll="false" asp-route-lifetimeHighLow="false">Edit</a>
                            </li>
                            <li>
                                <a asp-page="./portfolioTxnDetails" asp-route-masterid="@item.PORTFOLIO_MASTER_ID"
                           asp-route-txnid="@item.PORTFOLIOTXN_ID"
                           asp-route-stockid="@item.StockMasterID"
                           asp-route-sortOrder="@Model.CurrentSort"
                           asp-route-pageIndex="@Model.portfolioTxn.PageIndex"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           asp-route-getQuote="false"
                           asp-route-updateBuySell="false"
                           asp-route-refreshAll="false" asp-route-lifetimeHighLow="false">Details</a>
                            </li>
                            <li>
                                <a asp-page="./portfolioTxnDelete" asp-route-masterid="@item.PORTFOLIO_MASTER_ID"
                           asp-route-txnid="@item.PORTFOLIOTXN_ID"
                           asp-route-stockid="@item.StockMasterID"
                           asp-route-sortOrder="@Model.CurrentSort"
                           asp-route-pageIndex="@Model.portfolioTxn.PageIndex"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           asp-route-getQuote="false"
                           asp-route-updateBuySell="false"
                           asp-route-refreshAll="false" asp-route-lifetimeHighLow="false">Delete</a>
                            </li>
                            <li>
                                <a asp-page="./portfolioTxnIndex" asp-route-masterid="@item.PORTFOLIO_MASTER_ID"
                           asp-route-txnid="@item.PORTFOLIOTXN_ID"
                           asp-route-stockid="@item.StockMasterID"
                           asp-route-sortOrder="@Model.CurrentSort"
                           asp-route-pageIndex="@Model.portfolioTxn.PageIndex"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           asp-route-getQuote="true"
                           asp-route-updateBuySell="false"
                           asp-route-refreshAll="false" asp-route-lifetimeHighLow="false">Get Quote</a>
                            </li>
                            <li>
                                <a asp-page="./portfolioTxnIndex" asp-route-masterid="@item.PORTFOLIO_MASTER_ID"
                           asp-route-txnid="@item.PORTFOLIOTXN_ID"
                           asp-route-stockid="@item.StockMasterID"
                           asp-route-sortOrder="@Model.CurrentSort"
                           asp-route-pageIndex="@Model.portfolioTxn.PageIndex"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           asp-route-getQuote="false"
                           asp-route-updateBuySell="false"
                           asp-route-refreshAll="false"
                           asp-route-lifetimeHighLow="true">Lifetime High/Low</a>
                            </li>
                            @if (item.stockMaster.V40 == true)
                            {
                                <li>
                                    <a asp-page="./portfolioTxnIndex" asp-route-masterid="@item.PORTFOLIO_MASTER_ID"
                           asp-route-txnid="@item.PORTFOLIOTXN_ID"
                           asp-route-stockid="@item.StockMasterID"
                           asp-route-sortOrder="@Model.CurrentSort"
                           asp-route-pageIndex="@Model.portfolioTxn.PageIndex"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           asp-route-getQuote="true"
                           asp-route-updateBuySell="true"
                           asp-route-refreshAll="false" asp-route-lifetimeHighLow="false">Update Buy/Sell </a>
                                </li>
                            }
                            <li>
                                <a asp-page="/History/Index" asp-route-masterid="@item.PORTFOLIO_MASTER_ID"
                           asp-route-txnid="@item.PORTFOLIOTXN_ID"
                           asp-route-id="@item.StockMasterID"
                           asp-route-refreshAll=false asp-route-lifetimeHighLow="false"
                           asp-route-history=true>History</a>
                            </li>
                            <li>
                                <a target="_blank" asp-page="/StandardIndicators/chartSMARSISTOCH"
                           asp-route-id="@item.StockMasterID"
                           asp-route-masterid="@item.PORTFOLIO_MASTER_ID"
                           asp-route-txnid="@item.PORTFOLIOTXN_ID"
                           asp-route-refreshAll=false asp-route-lifetimeHighLow="false"
                           asp-route-history=true>SMA vs RSI vs STOCH</a>
                            </li>

                        </ul>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.COST_PER_SHARE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TOTAL_COST)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CMP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VALUE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GAIN_PCT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GAIN_AMT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.LIFETIME_HIGH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.LIFETIME_LOW)
                    </td>
                    <td>
                        @if (item.stockMaster.LESSTHAN_67PCT_ON.Date.CompareTo(new DateTime(0001, 01, 01).Date) != 0)
                        {
                            @Html.DisplayFor(modelItem => item.stockMaster.LESSTHAN_67PCT_ON)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.DIFF_FROM_LIFETIME_HIGH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.V40)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.V40N)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.V200)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.SMA_FAST)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.SMA_MID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.SMA_SLOW)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.SMA_BUY_SIGNAL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stockMaster.SMA_SELL_SIGNAL)
                    </td>
                </tr>
            }
            @*<tr style="text-align:center; font-size:small; border-top:thin;">
        <td></td>
        <td></td>
        <td></td>
        <td>Total Cost:</td>
        <td>@string.Format("{0:0.00}", @totalCost)</td>
        <td></td>
        <td>Total Gain:</td>
        <td>@string.Format("{0:0.00}%", (totalGain - totalCost)/totalGain*100)</td>
        <td>@string.Format("{0:0.00}",@totalGain)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>*@
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.portfolioTxn.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.portfolioTxn.HasNextPage ? "disabled" : "";
}
<a asp-page="./portfolioTxnIndex" asp-route-masterid="@Model.MasterId" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.portfolioTxn.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @prevDisabled">Previous</a>
<a asp-page="./portfolioTxnIndex" asp-route-masterid="@Model.MasterId" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.portfolioTxn.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @nextDisabled">Next</a>
<div>
    <a asp-page="./portfoliomasterIndex" asp-route-firsttimemaster="false">Back to portfolio list</a>
</div>
