@page
@model MarketAnalytics.Pages.PortfolioPages.PortfolioTxnDetailsModel

@{
    ViewData["Title"] = "PortfolioTxnDetails";
}

<h3>Details - @Model.portfolioTxn.stockMaster.CompName (@Model.portfolioTxn.stockMaster.Symbol)</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.portfolioTxn.TXN_DATE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.portfolioTxn.TXN_DATE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.portfolioTxn.QUANTITY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.portfolioTxn.QUANTITY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.portfolioTxn.COST_PER_SHARE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.portfolioTxn.COST_PER_SHARE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.portfolioTxn.TOTAL_COST)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.portfolioTxn.TOTAL_COST)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.portfolioTxn.CMP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.portfolioTxn.CMP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.portfolioTxn.VALUE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.portfolioTxn.VALUE)
        </dd>
    </dl>
</div>
<div>
    @*<input type="hidden" asp-for="@Model.pageIndex" />*@
    <a asp-page="./portfolioTxnEdit" asp-route-masterid="@Model.portfolioTxn.PORTFOLIO_MASTER_ID" asp-route-stockid="@Model.portfolioTxn.StockMasterID" asp-route-txnid="@Model.portfolioTxn.PORTFOLIOTXN_ID" asp-route-pageIndex="@Model.parentpageIndex">Edit</a> |
    <a asp-page="./portfolioTxnIndex" asp-route-masterid="@Model.portfolioTxn.PORTFOLIO_MASTER_ID" asp-route-stockid="@Model.portfolioTxn.StockMasterID" asp-route-txnid="@Model.portfolioTxn.PORTFOLIOTXN_ID" asp-route-pageIndex="@Model.parentpageIndex">Back to List</a>
</div>
