@page
@model MarketAnalytics.Pages.PortfolioPages.PortfolioTxnEditModel

@{
    ViewData["Title"] = "PortfolioTxnEdit";
}

<h3>Edit - @Model.TxnStockCompName (@Model.TxnStockSymbol)</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" style="font-size:small">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.TxnId" />
            <input type="hidden" asp-for="@Model.TxnStockMasterId" />
            <input type="hidden" asp-for="@Model.TxnPortfolioMasterId" />
            
            <input type="hidden" asp-for="@Model.parentPageIndex" />
            <input type="hidden" asp-for="@Model.parentClosedPageIndex" />
            <input type="hidden" asp-for="@Model.parentFilter" />
            <input type="hidden" asp-for="@Model.parentSearchString" />
            <input type="hidden" asp-for="@Model.parentSortOrder" />

            <div class="form-group">
                <label asp-for="@Model.TxnDate" class="control-label"></label>
                <input type="date" asp-for="@Model.TxnDate" class="form-control" style="font-size:small" />
                <span asp-validation-for="@Model.TxnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TxnType" class="control-label"></label>
                <input type="text" size="1" readonly="readonly" asp-for="@Model.TxnType" class="form-control" style="font-size:small" />
                <span asp-validation-for="@Model.TxnType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TxnPurchaseQty" class="control-label"></label>
                <input asp-for="@Model.TxnPurchaseQty" class="form-control" style="font-size:small" />
                <span asp-validation-for="@Model.TxnPurchaseQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.TxnCostPerUnit" class="control-label"></label>
                <input asp-for="@Model.TxnCostPerUnit" class="form-control" style="font-size:small" />
                <span asp-validation-for="@Model.TxnCostPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="font-size:small" />
@*            </div>
            <div>
*@                <a asp-page="./portfolioTxnIndex" asp-route-masterId="@Model.TxnPortfolioMasterId"
                   asp-route-stockid="@Model.TxnStockMasterId"
                   asp-route-pageSummaryIndex="@Model.parentPageSummaryIndex"
                   asp-route-pageIndex="@Model.parentPageIndex"
                   asp-route-pageClosedIndex="@Model.parentClosedPageIndex"
                   class="btn btn-primary" style="font-size:small">Back to full List</a>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
