@page
@model MarketAnalytics.Pages.Master.IndexModel

@{
    ViewData["Title"] = "StockMaster";
}

<h4>Stock Master</h4>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@

<table class="table">
    <thead>
        <tr>
            <th>
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <p>

                            <input type="text" name="SearchString" value="@Model.CurrentFilter" style="font-size:small" />
                            <input type="submit" value="Search symbol or company name" class="btn btn-sm btn-primary" style="font-size:small" />
                            @*|
                            <a asp-page="./Index">Back to full List</a>*@
                        </p>
                    </div>
                </form>
            </th>
            <th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="./Index" asp-route-refreshAll="true" class="btn btn-sm btn-primary" style="font-size:small">Refresh All</a>
                    </p>
                </div>
            </th>
            <th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="./Index" style="font-size:small">Back to full List</a>
                    </p>
                </div>
            </th>
        </tr>
    </thead>
</table>
@*<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <div class="form-actions no-color">
            <p>
                <input type="hidden" name="RefreshAll" value="true" />
                <input type="submit" value="Refresh All" class="btn btn-primary" />
            </p>
        </div>
    </div>
</form>*@
@*<a asp-page="/BuySell/smav40" class="btn btn-primary" style="font-size:small">SMA V40</a> |
<a asp-page="/BuySell/v20BuySell" class="btn btn-primary" style="font-size:small">V20 Candle</a>*@
<table class="table">
    <thead>
        <tr style="text-align:center; font-size:small;">
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ExchangeSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].Exchange)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SymbolSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].Symbol)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CompNameSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].CompName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].QuoteDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Open)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].High)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Low)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].ChangePercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].PrevClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].LIFETIME_HIGH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].LIFETIME_LOW)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.V40Sort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].V40)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.V40NSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].V40N)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.V200Sort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].V200)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StockMaster)
        {
            <tr style="text-align:center; font-size:small;">
                <td>
                    @Html.DisplayFor(modelItem => item.Exchange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuoteDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Open)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.High)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Low)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Close)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangePercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrevClose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LIFETIME_HIGH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LIFETIME_LOW)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.V40)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.V40N)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.V200)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.StockMasterID" 
                        asp-route-sortOrder="@Model.CurrentSort" 
                        asp-route-pageIndex="@Model.StockMaster.PageIndex"
                        asp-route-currentFilter="@Model.CurrentFilter"
                       asp-route-refreshAll=false
                       asp-route-getQuote="false">Edit Category</a> |
                    <a asp-page="./Details" asp-route-id="@item.StockMasterID"
                        asp-route-sortOrder="@Model.CurrentSort"
                        asp-route-pageIndex="@Model.StockMaster.PageIndex"
                        asp-route-currentFilter="@Model.CurrentFilter"
                        asp-route-refreshAll=false
                        asp-route-getQuote="false">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.StockMasterID"
                        asp-route-sortOrder="@Model.CurrentSort"
                        asp-route-pageIndex="@Model.StockMaster.PageIndex"
                        asp-route-currentFilter="@Model.CurrentFilter"
                        asp-route-refreshAll=false
                        asp-route-getQuote="false">Delete</a> |
                    <a asp-page="./Index" asp-route-id="@item.StockMasterID"
                        asp-route-sortOrder="@Model.CurrentSort" 
                        asp-route-pageIndex="@Model.StockMaster.PageIndex"
                        asp-route-currentFilter="@Model.CurrentFilter"
                        asp-route-refreshAll=false
                        asp-route-getQuote="true">Get Quote</a> |
                    <a asp-page="./Index" asp-route-id="@item.StockMasterID"
                        asp-route-sortOrder="@Model.CurrentSort"
                        asp-route-pageIndex="@Model.StockMaster.PageIndex"
                        asp-route-currentFilter="@Model.CurrentFilter"
                        asp-route-refreshAll=false
                        asp-route-getQuote="false"
                        asp-route-lifetimeHighLow="true">Lifetime high/low</a> |
                    <a asp-page="/History/Index"
                   asp-route-id="@item.StockMasterID"
                        asp-route-history=true>History</a>|
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.StockMaster.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.StockMaster.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockMaster.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @prevDisabled">Previous</a>
<a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockMaster.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @nextDisabled">Next</a>
