@page
@model MarketAnalytics.Pages.Master.IndexModel

@{
    ViewData["Title"] = "StockMaster";
}

<h4>Stock Master</h4>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@

<table class="table">
    <thead>
        <tr>
            <th style="border:solid thin">
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <select id="groupid" name="groupsel" asp-items="Model.groupList" style="font-size:small"
                                onchange="groupselchange()">
                        </select>
                        <input type="submit" name="filterCategory" value="Show Category" class="btn btn-sm btn-primary" style="font-size:small" />
                        <input type="submit" name="filterCategory" value="Show & Update Category" class="btn btn-sm btn-primary" style="font-size:small" />
                        @*<a asp-page="./Index" asp-route-groupsel="@Model.CurrentSel" asp-route-updateStrategy="true" class="btn btn-sm btn-primary" style="font-size:small">Run Strategy model</a>*@
                    </div>
                </form>
            </th>

            <th style="border:solid thin;">
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <input name="groupsel" value="@Model.CurrentGroup" type="hidden" />
                        <input type="text" name="SearchString" value="@Model.CurrentFilter" style="font-size:small" />
                        <input type="submit" name="searchWhere" value="Search local" class="btn btn-sm btn-primary" style="font-size:small" />
                        <input type="submit" name="searchWhere" value="Search Online" class="btn btn-sm btn-primary" style="font-size:small" />
                        <a asp-page="./Index" class="btn btn-sm btn-primary" style="font-size:small">Full List</a>
                    </div>
                </form>
            </th>

            <th style="border:solid thin;">
                <div class="form-actions no-color">
                    <a asp-page="./Index" asp-route-refreshAll="true" class="btn btn-sm btn-primary" style="font-size:small">Update Master List</a>
                </div>
            </th>
            @*<th>
            <div class="form-actions no-color">
            <p>
            <a asp-page="./Index" style="font-size:small">Back to full List</a>
            </p>
            </div>
            </th>*@
        </tr>
    </thead>
</table>
@*<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <div class="form-actions no-color">
            <p>
                <input type="hidden" name="RefreshAll" value="true" />
                <input type="submit" value="Refresh All" class="btn btn-primary" />
            </p>
        </div>
    </div>
</form>*@
@*<a asp-page="/BuySell/smav40" class="btn btn-primary" style="font-size:small">SMA V40</a> |
<a asp-page="/BuySell/v20BuySell" class="btn btn-primary" style="font-size:small">V20 Candle</a>*@
<table class="table">
    <thead>
        <tr style="text-align:center; font-size:small;">
            @*            <th>Action</th>*@
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SymbolSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].Symbol)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ExchangeSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].Exchange)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CompNameSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].CompName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TypeSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].INVESTMENT_TYPE)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].QuoteDateTime)
            </th>
            @*<th></th>*@
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Open)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].High)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Low)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].ChangePercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].PrevClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].LIFETIME_HIGH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].LIFETIME_LOW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].DIFF_FROM_LIFETIME_HIGH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].YEAR_HI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].YEAR_LO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].DIFF_FROM_YEAR_HI)
            </th>

            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.V40Sort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].V40)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.V40NSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].V40N)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.V200Sort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].V200)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].SMA_FAST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].SMA_MID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].SMA_SLOW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].SMA_BUY_SIGNAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].SMA_SELL_SIGNAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].RSI_CLOSE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].RSI_OVERBOUGHT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].RSI_OVERSOLD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].LESSTHAN_67PCT_ON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].SlowD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].FastK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].STOCH_BUY_SIGNAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].STOCH_BUY_PRICE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].STOCH_SELL_SIGNAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].STOCH_SELL_PRICE)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.StockMaster != null)
        {
            @foreach (var item in Model.StockMaster)
            {
                    //@*<tr style="text-align:center; font-size:small;" onclick="@(Model.TransId = item.PORTFOLIOTXN_ID);alert('clicked -' + @Model.TransId);">*@

                //<tr style="text-align:center; font-size:small;" onclick="location.href = '@(Url.Action("./portfolioTxnIndex/SelectedRow"))'">

                //<tr style="text-align:center; font-size:small;" onclick="onselectedrow(this); location.href ='@Url.Action("SelectedRow", "Master", new{id=item.StockMasterID})' ">
                @*<tr style="text-align:center; font-size:small;" onclick="location.href ='@Url.Action("SelectedRow", "Master", new{id=item.StockMasterID})';selectedRow(this); ">*@
                <tr style="text-align:center; font-size:small;">

                    <td>
                        @*<form id="TheForm" method="post" asp-page-handler="StockAction" asp-route-id="@item.StockMasterID">*@
                        <form method="post" asp-page-handler="StockAction" asp-route-groupsel="@Model.CurrentGroup"
                      asp-route-id="@item.StockMasterID" asp-route-sortOrder="@Model.CurrentSort"
                      asp-route-pageIndex="@Model.CurrentPageIndex" asp-route-currentFilter="@Model.CurrentFilter">
                            <div class="form-actions no-color">
                                @*<input type="hidden" name="id" value="@item.StockMasterID" />
                        <input type="hidden" name="sortOrder" value="@Model.CurrentSort" />
                        <input type="hidden" name="pageIndex" value="@Model.CurrentPageIndex" />
                        <input type="hidden" name="currentFilter" value="@Model.CurrentFilter" />*@

                                @*<select class="menuitemselect" name="menuitemsel" asp-items="Model.menuList" onchange="document.getElementById('TheForm').submit();" style="font-size:small">*@
                                <select class="menuitemselect" name="menuitemsel" asp-items="Model.menuList" style="font-size:small">
                                    <option selected value="-1">@item.Symbol</option>
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exchange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INVESTMENT_TYPE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuoteDateTime)
                    </td>
                    @*<td>
            <ul class="list-unstyled">
            <li>
            <a asp-page="./Edit" asp-route-id="@item.StockMasterID"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@Model.StockMaster.PageIndex"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-refreshAll=false
            asp-route-getQuote="false">Edit Category</a>
            </li>
            <li>
            <a asp-page="./Details" asp-route-id="@item.StockMasterID"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@Model.StockMaster.PageIndex"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-refreshAll=false
            asp-route-getQuote="false">Details</a>
            </li>
            <li>
            <a asp-page="./Delete" asp-route-id="@item.StockMasterID"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@Model.StockMaster.PageIndex"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-refreshAll=false
            asp-route-getQuote="false">Delete</a>
            </li>
            <li>
            <a asp-page="./Index" asp-route-id="@item.StockMasterID"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@Model.StockMaster.PageIndex"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-refreshAll=false
            asp-route-getQuote="true">Get Quote</a>
            </li>
            <li>
            <a asp-page="./Index" asp-route-id="@item.StockMasterID"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@Model.StockMaster.PageIndex"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-refreshAll=false
            asp-route-getQuote="false"
            asp-route-lifetimeHighLow="true">Lifetime high/low</a>
            </li>
            <li>
            <a asp-page="/History/Index"
            asp-route-id="@item.StockMasterID"
            asp-route-history=true>History</a>
            </li>
            </ul>
            </td>*@
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.Open)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.Open)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.High)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.High)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.Low)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.Low)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.Close)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.Close)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.Volume)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.Volume)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.Change)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.Change)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.ChangePercent)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.ChangePercent)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.PrevClose)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.PrevClose)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.LIFETIME_HIGH)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.LIFETIME_HIGH)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.LIFETIME_LOW)" data-toggle="tooltip" data-container="body" data-placement="right">  @Html.DisplayFor(modelItem => item.LIFETIME_LOW)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.DIFF_FROM_LIFETIME_HIGH)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.DIFF_FROM_LIFETIME_HIGH)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.YEAR_HI)" data-toggle="tooltip" data-container="body" data-placement="right">  @Html.DisplayFor(modelItem => item.YEAR_HI)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.YEAR_LO)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.YEAR_LO)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.DIFF_FROM_YEAR_HI)" data-toggle="tooltip" data-container="body" data-placement="right">  @Html.DisplayFor(modelItem => item.DIFF_FROM_YEAR_HI)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.V40)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.V40)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.V40N)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.V40N)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.V200)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.V200)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.SMA_FAST)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.SMA_FAST)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.SMA_MID)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.SMA_MID)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.SMA_SLOW)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.SMA_SLOW)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.SMA_BUY_SIGNAL)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.SMA_BUY_SIGNAL)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.SMA_SELL_SIGNAL)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.SMA_SELL_SIGNAL)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.RSI_CLOSE)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.RSI_CLOSE)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.RSI_OVERBOUGHT)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.RSI_OVERBOUGHT)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.RSI_OVERSOLD)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.RSI_OVERSOLD)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.LESSTHAN_67PCT_ON)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.LESSTHAN_67PCT_ON)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.SlowD)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.SlowD)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.FastK)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.FastK)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.STOCH_BUY_SIGNAL)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.STOCH_BUY_SIGNAL)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.STOCH_BUY_PRICE)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.STOCH_BUY_PRICE)</span>
                    </td>
                    @*<td id="cost">*@
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.STOCH_SELL_SIGNAL)" data-toggle="tooltip" data-container="body" data-placement="right"> @Html.DisplayFor(modelItem => item.STOCH_SELL_SIGNAL)</span>
                    </td>
                    <td>
                        <span title="@Html.DisplayNameFor(model => item.STOCH_SELL_PRICE)" data-toggle="tooltip" data-container="body" data-placement="right">
                            @Html.DisplayFor(modelItem => item.STOCH_SELL_PRICE)
                        </span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@{
    var prevDisabled = (Model.StockMaster != null) && (!Model.StockMaster.HasPreviousPage) ? "disabled" : "";
    var nextDisabled = (Model.StockMaster != null) && (!Model.StockMaster.HasNextPage) ? "disabled" : "";
}
@if (Model.StockMaster != null)
{
    <a asp-page="./Index" asp-route-groupsel="@Model.CurrentGroup" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockMaster.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-sm btn-primary @prevDisabled" style="font-size:small">Previous</a>
    <a asp-page="./Index" asp-route-groupsel="@Model.CurrentGroup" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockMaster.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-sm btn-primary @nextDisabled" style="font-size:small">Next</a>
}
@section scripts{
    <script>
        $(function () {
            $(".menuitemselect").change(function () {
                $(this).closest("form").submit();
                //$('#TheForm').submit();
            })
        })
        //function groupselchange()
        //{
        //    var grouplist = document.getElementById("groupid");
        //    var value = grouplist.value;
        //    alert('value='+ value);
        //    var text = grouplist.options[grouplist.selectedIndex].text;
        //    alert('text='+text);
        //    document.getElementById("CurrentSel").value = value;
        //    alert(document.getElementById("CurrentSel").value);
        //    //return value;
        //}

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(function () {
            if ($('#cost').text() != '') {
                $('[data-toggle="tooltip"]').tooltip();
            }
        });
    </script>
}