@page
@model MarketAnalytics.Pages.Master.IndexModel

@{
    ViewData["Title"] = "StockMaster";
}

<h4>Stock Master</h4>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@

<table class="table">
    <thead>
        <tr>
            <th style="border:solid thin">
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <select id="groupid" name="groupsel" asp-items="Model.groupList" style="font-size:small"
                                    onchange="groupselchange()">
                            </select>
                            <input type="submit" name="filterCategory" value="Show Category" class="btn btn-sm btn-primary" style="font-size:small" />
                            <input type="submit" name="filterCategory" value="Show & Update Category" class="btn btn-sm btn-primary" style="font-size:small" />
                            @*<a asp-page="./Index" asp-route-groupsel="@Model.CurrentSel" asp-route-updateStrategy="true" class="btn btn-sm btn-primary" style="font-size:small">Run Strategy model</a>*@
                        </p>
                    </div>
                </form>
            </th>

            <th style="border:solid thin;">
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <input name="groupsel" value="@Model.CurrentGroup" type="hidden" />
                            <input type="text" name="SearchString" value="@Model.CurrentFilter" style="font-size:small" />
                            <input type="submit" value="Search" class="btn btn-sm btn-primary" style="font-size:small" />
                            <a asp-page="./Index" class="btn btn-sm btn-primary" style="font-size:small">Back to full List</a>
                        </p>
                    </div>
                </form>
            </th>

            <th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="./Index" asp-route-refreshAll="true" class="btn btn-sm btn-primary" style="font-size:small">Update Master List</a>
                    </p>
                </div>
            </th>
            @*<th>
                <div class="form-actions no-color">
                    <p>
                        <a asp-page="./Index" style="font-size:small">Back to full List</a>
                    </p>
                </div>
            </th>*@
        </tr>
    </thead>
</table>
@*<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <div class="form-actions no-color">
            <p>
                <input type="hidden" name="RefreshAll" value="true" />
                <input type="submit" value="Refresh All" class="btn btn-primary" />
            </p>
        </div>
    </div>
</form>*@
@*<a asp-page="/BuySell/smav40" class="btn btn-primary" style="font-size:small">SMA V40</a> |
<a asp-page="/BuySell/v20BuySell" class="btn btn-primary" style="font-size:small">V20 Candle</a>*@
<table class="table">
    <thead>
        <tr style="text-align:center; font-size:small;">
            <th>Action</th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ExchangeSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].Exchange)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.SymbolSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].Symbol)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CompNameSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].CompName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TypeSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].INVESTMENT_TYPE)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].QuoteDateTime)
            </th>
            @*<th></th>*@
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Open)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].High)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Low)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].ChangePercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].PrevClose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].LIFETIME_HIGH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].LIFETIME_LOW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].DIFF_FROM_LIFETIME_HIGH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].YEAR_HI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].YEAR_LO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMaster[0].DIFF_FROM_YEAR_HI)
            </th>

            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.V40Sort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].V40)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.V40NSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].V40N)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.V200Sort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockMaster[0].V200)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.StockMaster != null)
        {
            @foreach (var item in Model.StockMaster)
            {
            //@*<tr style="text-align:center; font-size:small;" onclick="@(Model.TransId = item.PORTFOLIOTXN_ID);alert('clicked -' + @Model.TransId);">*@

                //<tr style="text-align:center; font-size:small;" onclick="location.href = '@(Url.Action("./portfolioTxnIndex/SelectedRow"))'">

                //<tr style="text-align:center; font-size:small;" onclick="onselectedrow(this); location.href ='@Url.Action("SelectedRow", "Master", new{id=item.StockMasterID})' ">
                @*<tr style="text-align:center; font-size:small;" onclick="location.href ='@Url.Action("SelectedRow", "Master", new{id=item.StockMasterID})';selectedRow(this); ">*@
                <tr style="text-align:center; font-size:small;">
                    <td>
                        @*<form id="TheForm" method="post" asp-page-handler="StockAction" asp-route-id="@item.StockMasterID">*@
                        <form method="post" asp-page-handler="StockAction" asp-route-groupsel="@Model.CurrentGroup" asp-route-id="@item.StockMasterID" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@Model.CurrentPageIndex" asp-route-currentFilter="@Model.CurrentFilter">
                            <div class="form-actions no-color">
                                @*<input type="hidden" name="id" value="@item.StockMasterID" />
                        <input type="hidden" name="sortOrder" value="@Model.CurrentSort" />
                        <input type="hidden" name="pageIndex" value="@Model.CurrentPageIndex" />
                        <input type="hidden" name="currentFilter" value="@Model.CurrentFilter" />*@

                                @*<select class="menuitemselect" name="menuitemsel" asp-items="Model.menuList" onchange="document.getElementById('TheForm').submit();" style="font-size:small">*@
                                <select class="menuitemselect" name="menuitemsel" asp-items="Model.menuList" style="font-size:small">
                                    @*<option selected  value="-1">Choose...</option>*@
                                </select>
                            </div>
                        </form>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exchange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INVESTMENT_TYPE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuoteDateTime)
                    </td>
                    @*<td>
            <ul class="list-unstyled">
            <li>
            <a asp-page="./Edit" asp-route-id="@item.StockMasterID"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@Model.StockMaster.PageIndex"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-refreshAll=false
            asp-route-getQuote="false">Edit Category</a>
            </li>
            <li>
            <a asp-page="./Details" asp-route-id="@item.StockMasterID"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@Model.StockMaster.PageIndex"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-refreshAll=false
            asp-route-getQuote="false">Details</a>
            </li>
            <li>
            <a asp-page="./Delete" asp-route-id="@item.StockMasterID"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@Model.StockMaster.PageIndex"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-refreshAll=false
            asp-route-getQuote="false">Delete</a>
            </li>
            <li>
            <a asp-page="./Index" asp-route-id="@item.StockMasterID"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@Model.StockMaster.PageIndex"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-refreshAll=false
            asp-route-getQuote="true">Get Quote</a>
            </li>
            <li>
            <a asp-page="./Index" asp-route-id="@item.StockMasterID"
            asp-route-sortOrder="@Model.CurrentSort"
            asp-route-pageIndex="@Model.StockMaster.PageIndex"
            asp-route-currentFilter="@Model.CurrentFilter"
            asp-route-refreshAll=false
            asp-route-getQuote="false"
            asp-route-lifetimeHighLow="true">Lifetime high/low</a>
            </li>
            <li>
            <a asp-page="/History/Index"
            asp-route-id="@item.StockMasterID"
            asp-route-history=true>History</a>
            </li>
            </ul>
            </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Open)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.High)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Low)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Close)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Volume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Change)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChangePercent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrevClose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LIFETIME_HIGH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LIFETIME_LOW)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIFF_FROM_LIFETIME_HIGH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YEAR_HI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YEAR_LO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIFF_FROM_YEAR_HI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.V40)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.V40N)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.V200)
                    </td>


                </tr>
            }
        }
    </tbody>
</table>
@{
    var prevDisabled = (Model.StockMaster != null) && (!Model.StockMaster.HasPreviousPage) ? "disabled" : "";
    var nextDisabled = (Model.StockMaster != null) && (!Model.StockMaster.HasNextPage) ? "disabled" : "";
}
@if (Model.StockMaster != null)
{
    <a asp-page="./Index" asp-route-groupsel="@Model.CurrentGroup" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockMaster.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @prevDisabled">Previous</a>
    <a asp-page="./Index" asp-route-groupsel="@Model.CurrentGroup" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockMaster.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-primary @nextDisabled">Next</a>
}
@section scripts{
    <script>
        $(function () {
            $(".menuitemselect").change(function () {
                $(this).closest("form").submit();
                //$('#TheForm').submit();
            })
        })
        //function groupselchange()
        //{
        //    var grouplist = document.getElementById("groupid");
        //    var value = grouplist.value;
        //    alert('value='+ value);
        //    var text = grouplist.options[grouplist.selectedIndex].text;
        //    alert('text='+text);
        //    document.getElementById("CurrentSel").value = value;
        //    alert(document.getElementById("CurrentSel").value);
        //    //return value;
        //}
    </script>
}