@page
@model MarketAnalytics.Pages.History.IndexModel

@{
    ViewData["Title"] = "StockPriceHistory";
}

@*<h3>Stock Price History - @Html.DisplayFor(model => model.StockMasterRec.CompName)</h3>
*@
<h3>Stock price history : @Model.CompanyName</h3>
@*<p>
    <a asp-page="Create">Create New</a>
</p>*@

<table class="table">
    <thead>
        <tr>
            <th>
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <select name="id" asp-items="Model.symbolList" style="font-size:small">
                                <option value="">Select Symbol</option>
                            </select>

                            <input type="submit" value="Select symbol" class="btn btn-sm btn-primary" style="font-size:small" />
                            @if (Model.CurrentID > 0)
                            {
                                <a asp-page="./Index" asp-route-refreshAll="true" asp-route-id="@Model.CurrentID" class="btn btn-sm btn-primary" style="font-size:small">Refresh Current</a>
                            }
                        </p>
                    </div>
                </form>
            </th>
            @if (Model.CurrentID > 0)
            {
                <th>
                    <form asp-page="./Index" method="get" style="font-size:small">
                        <div class="form-actions no-color">
                            <p>
                                Find price from date:
                                <input id="searchid" type="hidden" name="id" value="@Model.CurrentID" />
                                <input id="searchDate" type="date" name="SearchString" value="@Model.CurrentFilter" />
                                <input type="submit" value="Search" class="btn btn-primary" style="font-size:small" /> |
                                <a asp-page="./Index" asp-route-id="@Model.CurrentID" class="btn btn-sm btn-primary" style="font-size:small">Back to full List</a>
                            </p>
                        </div>
                    </form>
                </th>
                <th>
                    <div class="form-actions no-color" style="font-size:small">
                        <p>
                            <a target="_blank" asp-page="/StandardIndicators/chartSMARSISTOCH" asp-route-id="@Model.CurrentID" class="btn btn-sm btn-primary" style="font-size:small">SMA vs RSI vs Stoch</a>
                            <a target="_blank" asp-page="/StandardIndicators/chartSMA" asp-route-id="@Model.CurrentID" asp-route-fromdate="@Model.CurrentFilter" class="btn btn-sm btn-primary" style="font-size:small">SMA</a>
                            <a target="_blank" asp-page="/StandardIndicators/chartHistory" asp-route-stockid="@Model.CurrentID"
                           asp-route-onlyhistory=0 asp-route-history=true
                           class="btn btn-sm btn-primary" style="font-size:small">Chart</a>
                        </p>
                    </div>
                </th>
            }
            @*<th>
            <div class="form-actions no-color" style="font-size:small">
            <p>
            <a asp-page="./Index" asp-route-refreshAll="true" asp-route-id="@Model.CurrentID" class="btn btn-sm btn-primary" style="font-size:small">Refresh Current</a>
            </p>
            </div>
            </th>*@
        </tr>
        @if ((Model.CurrentID != null) && (Model.CurrentID > 0))
        {
            <tr>
                <th>
                    <a target="_blank" asp-page="/BuySell/BullishEngulfing" asp-route-symbolToUpdate="@Model.CurrentID" class="btn btn-sm btn-primary" style="font-size:small">Bullish Engulfing</a>
                    <a target="_blank" asp-page="/BuySell/BearishEngulfing" asp-route-symbolToUpdate="@Model.CurrentID" class="btn btn-sm btn-primary" style="font-size:small">Bearish Engulfing</a>
                    <a target="_blank" asp-page="/BuySell/smav40" asp-route-symbolToUpdate="@Model.CurrentID" class="btn btn-sm btn-primary" style="font-size:small">SMA V40</a>
                    <a target="_blank" asp-page="/BuySell/v20BuySell" asp-route-symbolToUpdate="@Model.CurrentID" class="btn btn-sm btn-primary" style="font-size:small">V20</a>
                </th>
            </tr>
        }
        <tr>
            <th>
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            <select name="id" asp-items="Model.groupList" style="font-size:small">
                                <option value="">Select Group</option>
                            </select>

                            <input type="submit" value="Refresh Group" class="btn btn-sm btn-primary" style="font-size:small" />
                        </p>
                    </div>
                </form>
            </th>

            @*<th>
            <div class="form-actions no-color" style="font-size:small">
            <p>
            <a target="_blank" asp-page="/StandardIndicators/chartSMA" asp-route-id="@Model.CurrentID" asp-route-fromdate="@Model.CurrentFilter" class="btn btn-sm btn-primary" style="font-size:small">SMA</a>
            </p>
            </div>
            </th>
            <th>
            <div class="form-actions no-color" style="font-size:small">
            <p>
            @*<a asp-page="./historyChart" asp-route-id="@Model.CurrentID" class="btn btn-sm btn-primary" style="font-size:small">>Show chart</a>*@
            @*<a target="_blank" asp-page="/StandardIndicators/chartHistory" asp-route-stockid="@Model.CurrentID"
            asp-route-onlyhistory=0 asp-route-history=true
            class="btn btn-sm btn-primary" style="font-size:small">Chart</a>
            </p>
            </div>
            </th>*@
        </tr>
    </thead>
</table>

@*<form asp-page="./Index" method="get" asp-route-id="@Model.CurrentID">
    <div class="form-actions no-color">
        <div class="form-actions no-color">
            <p>
                <input type="hidden" name="RefreshAll" value="true" />
                <input type="submit" value="Refresh All" class="btn btn-primary" />
            </p>
        </div>
    </div>
</form>
*@
<table class="table">
    <thead>
        <tr style="text-align:center; font-size:small;">
            @if (Model.CurrentID < 0)
            {
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.SymbolSort" asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.StockPriceHistory[0].StockMaster.Symbol)
                    </a>
                </th>
            }
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PriceDateSort" asp-route-id="@Model.CurrentID" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.StockPriceHistory[0].PriceDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPriceHistory[0].Open)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPriceHistory[0].High)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPriceHistory[0].Low)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPriceHistory[0].Close)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPriceHistory[0].Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPriceHistory[0].Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPriceHistory[0].ChangePercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPriceHistory[0].PrevClose)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.StockPriceHistory[0].StockMaster)
            </th>*@
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.StockPriceHistory != null)
        {
            @foreach (var item in Model.StockPriceHistory)
            {
                <tr style="text-align:center; font-size:small;">
                    @if (Model.CurrentID < 0)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.StockMaster.Symbol)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Open)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.High)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Low)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Close)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Volume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Change)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChangePercent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrevClose)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.StockMaster.CompName)
            </td>*@
                    @*<td>
            <a asp-page="./Edit" asp-route-id="@item.StockPriceHistoryID" asp-route-pageIndex="@Model.StockPriceHistory.PageIndex" asp-route-id="@Model.CurrentID">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.StockPriceHistoryID" asp-route-id="@Model.CurrentID">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.StockPriceHistoryID" asp-route-id="@Model.CurrentID">Delete</a> |
            </td>*@
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.StockPriceHistory != null)
{
    @*@{*@
    var prevDisabled = !Model.StockPriceHistory.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.StockPriceHistory.HasNextPage ? "disabled" : "";
    @*}*@
    <a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockPriceHistory.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter" asp-route-id="@Model.CurrentID" class="btn btn-primary @prevDisabled" style="font-size:small">Previous</a>
    <a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.StockPriceHistory.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter" asp-route-id="@Model.CurrentID" class="btn btn-primary @nextDisabled" style="font-size:small">Next</a>
}
